* {
    box-sizing: border-box;
}
body::after {
    content: "";
    clear: both;
    display: table;
}
article.accents2 {
    padding: 10px;
    background-color: wheat;
    color:wheat;
}
article.accents3 {
    padding: 30px;
    background-color: blue;
    color: blue;
}
article.accents4 {
    padding: 20px;
    background-color: yellow;
    color: yellow;
}
[class*="col-"] {
    float: left;
    border: 1px solid black;
}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-12 {width: 100%;}
[class*="col-"] {
    width: 100%;
}
@media only screen and (mid-width: 768px) {
    .col-s-6 {width: 50%;}
}
@media only screen and (mind-width: 1024px) {
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-12 {width: 100%;}
}