* {
    box-sizing: border-box;
}
body::after {
    content: "";
    clear: both;
    display: table;
}
article.accents1 {
    padding: 10px;
    background-color: black;
    color:black;
}
article.accents2 {
    padding: 10px;
    background-color: wheat;
    color:wheat;
}
article.accents3 {
    padding: 30px;
    background-color: blue;
    color: blue;
}
article.accents4 {
    padding: 20px;
    background-color: yellow;
    color: yellow;
}

[class*="col-"] {
    float: left;
    border: 1px solid black;
}

.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-6 {width: 50%;}
.col-12 {width: 100%;}

[class*="col-"] {width: 100%;}


@media only screen and (min-width: 768px) {
    .col-s-6 {width: 50%;}
}

@media only screen and (min-width: 1024px) {
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-6 {width: 50%;}
    .col-12 {width: 100%;}
}