html {
    width: 100%;
    color: white;
}

body {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.bgc {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('/ShyrleeTyfannyPejo_HUMCOM1_IAA120212022/FinalExam/Images/backgroundcover.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1080px;
}

img.thumb {
    width: 400px;
    height: 250px;
}

img.disp {
    width: 558px;
    height: 400px;
}

img.locD {
    width: 400px;
    height: 300px;
}

img.prof {
    width: 200px;
    height: 200px;
}

article, div, footer {
    background-color: rgba(0, 0, 0, 0.80);
    padding: 8px;
    border-radius: 10px;
}

hr {
    margin-top: -10px;
    border: 5px dashed skyblue;
    width: 95%;
}

hr.ft {
    margin-top: 10px;
}

hr.thin {
    border: 2.5px dashed deepskyblue;
}

.align {
    text-align: center;
    font-size: 30px;
    color: deepskyblue;
}

h4 {
    text-decoration: underline;
}

h1{ 
    font-family: Verdana;
    text-align: center;
    font-size: 90px;
}

h2{ 
    font-family: Orator Std;
    text-align: center;
    font-size: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 25%;
}

li a, .dropbtn {
    font-family: Orator Std;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 279.7px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

div{
    font-family: Tahoma;
}

.container {
    position: relative;
    width: 20%;
}

.image {
opacity: 2;
display: block;
backface-visibility: hidden;

}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%)

}

.container:hover .image {
opacity: 0.3;
}

.container:hover .middle {
opacity: 1;
}

.text {
color: black;
font-family: Orator Std;
font-size: 150%;
padding: 15px 15px;
}

p, a{
    font-family: Verdana;
    font-size: 21px;
    padding: 28px;
}

.shade{
    background-color: rgba(128, 128, 128, 0.5);
    padding: 8px;
    border-radius: 10px;
    width: 38%;
    margin-left: auto;
    margin-right: auto;
}

.shademain{
    background-color: black;

    border-radius: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: #f1f1f1;
    line-height: 25px;
}

h4{
    font-family: Orator Std;
}

.top {
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
}

p.footer {
    font-size: 18px;
}
